@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  margin: 0 auto;
  line-height: 1.5;
  background: #181818;
  font-family: "Helvetica", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

.col-1  { width: 8.33%;  }
.col-2  { width: 16.66%; }
.col-3  { width: 25%;    }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%;    }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%;    }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%;   }

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.center {
  margin: 0 auto;
  max-width: 50em;
}

.container {
  padding: 4em 0em;
}

.content {
  padding: 2em 1em;
  background-color: #272727;
  border-top: 3px solid #F0F564;
  border-bottom: 3px solid #F0F564;
}

.title {
  text-align: center;
}

.title span {
  font-size: 1.1rem;
  color: #6F6F6F;
}

.description p {
  font-size: 1.1rem;
  color: white;
}

.cool_links ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 1em 0;
  padding: 0.5em 0;
  font-size: 0.7rem;
  background-color: #181818;
  border-radius: 3px;
}

.li_links {
  padding: 0 1em;
}

.li_links a {
  text-decoration: none;
  color: #ccc;
  margin-left: 0.5rem;
  font-family: "Source Code Pro";
}

img {
  width: 12em;
  height: 12em;
  border-radius: 50%;
}
