@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  margin: 0 auto;
  max-width: 35em;
  font-family: "Source Code Pro";
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

span {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

dl > dt:before, ul > li:before {
  content: "- ";
}

dl > dt, ul > li {
  text-indent: -25px;
}

a {
  color: #555
}

a:hover {
  color: #222;
}

p {
  width: 50px;
  border-bottom: solid 1px #333;
}
